* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Where I am adding my stuff, may need to restructure after */
/* pick 4 main style colors and define them */
h1 {   
  float: left;
  padding: 20px 30px;
  align-content: center;
  /* margin-top: -; */
  }

nav {
  display: flex;
  background-color:rgb(94, 84, 96) ;
  /* float: right; */
}

nav a {
  color: rgb(230, 215, 233) ;
  padding: 20px 30px;
  text-decoration: none;
  align-items: right;
}

nav a:hover {
  background-color: ;
  color: ;
}

.hero-banner {
  background: url("../images/02-hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 200px;
  background-color: blue;
}

.page-wrapper {

}

.page-section {

}

#about {

}

#work {

}

.page-section-contact{

}

#contact {

}


*/


/* 
When the page is loaded the page presents your name, a recent photo or avatar, and links to sections about you, your work, and how to contact you

When one of the links in the navigation is clicked then the UI scrolls to the corresponding section

When viewing the section about your work then the section contains titled images of your applications

When presented with the your first application then that application's image should be larger in size than the others

When images of the applications are clicked then the user is taken to that deployed application
When the page is resized or viewed on various screens and devices then the layout is responsive and adapts to my viewport


Mock-Up */